/* ./src/index.css */
body {
    background-color: black;
    background: url("/src/assets/image/spiralblue.jpg") 0 0 fixed no-repeat;
}

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-jb {
        @apply text-center px-4 py-2 mt-2 mx-1 text-sm font-semibold bg-gray-100 border-b-8 border-t-8 border-blue-500 shadow-xl hover:shadow-lg transform transition-all hover:scale-95 rounded-2xl uppercase focus:outline-none;
    }
    .btn-nav {
        @apply text-center text-sm font-semibold bg-gray-100 border-b-8 border-blue-500 shadow-xl hover:shadow-lg transform transition-all hover:scale-95 rounded-2xl uppercase p-2 mx-2;
    }
}
/* FADE IN TRANSITION */
.spectre {
    animation: spectre 3s ease-in-out alternate;
}
@keyframes spectre {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (min-device-width: 480px) {
    /* GLOWING TEXT */
    .glow {
        color: #fff;
        animation: glow 1.5s ease-in-out infinite alternate;
    }
    @keyframes glow {
        from {
            text-shadow: 0 0 0px #fff, 0 0 10px;
        }
        to {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff;
        }
    }
}

/* CODE EXTRACT FOR VIOLET GLOW */
/* .glow {
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
} */
